:root {
    --primary: #6750a4;
    --onPrimary: #ffffff;
    --primaryContainer: #eaddff;
    --onPrimaryContainer: #21005d;
    --secondary: #625b71;
    --onSecondary: #ffffff;
    --secondaryContainer: #e8def8;
    --onSecondaryContainer: #1d192b;
    --tertiary: #7d5260;
    --onTertiary: #ffffff;
    --tertiaryContainer: #ffd8e4;
    --onTertiaryContainer: #31111d;
    --error: #b3261e;
    --errorContainer: #f9dedc;
    --onError: #ffffff;
    --onErrorContainer: #410e0b;
    --background: #fffbfe;
    --onBackground: #1c1b1f;
    --surface: #fffbfe;
    --onSurface: #1c1b1f;
    --surfaceVariant: #e7e0ec;
    --onSurfaceVariant: #49454f;
    --outline: #79747e;
    --inverseOnSurface: #f4eff4;
    --inverseSurface: #313033;
}

@tailwind components;

@layer components {
    .cy-button {
        @apply px-5 py-[0.4rem]  cursor-pointer rounded-full transition-all duration-300  flex justify-center items-center gap-1 hover:brightness-[0.93] focus:outline-outline disabled:opacity-80 disabled:hover:filter-none disabled:hover:cursor-auto;
    }
    .cy-button-primary {
        @apply bg-primary text-onPrimary active:shadow-borderPrimary border-none;
    }
    .cy-button-outline-primary {
        @apply bg-tranparent border-primary border-2 active:shadow-borderPrimary hover:bg-primaryContainer hover:text-onPrimaryContainer active:border-[transparent] text-primary;
    }
    .cy-button-secondary {
        @apply bg-secondary text-onSecondary active:shadow-borderSecondary border-none;
    }
    .cy-button-outline-secondary {
        @apply bg-tranparent border-secondary border-2 active:shadow-borderSecondary hover:bg-secondaryContainer hover:text-onSecondaryContainer active:border-[transparent] text-secondary;
    }
    .cy-button-tertiary {
        @apply bg-tertiary text-onTertiary active:shadow-borderTertiary border-none;
    }
    .cy-button-outline-tertiary {
        @apply bg-tranparent border-tertiary border-2 active:shadow-borderTertiary hover:bg-tertiaryContainer hover:text-onTertiaryContainer active:border-[transparent] text-tertiary;
    }
    .cy-button-error {
        @apply bg-error text-onError active:shadow-borderError border-none;
    }
    .cy-button-outline-error {
        @apply bg-tranparent border-error border-2 active:shadow-borderError hover:bg-errorContainer hover:text-onErrorContainer active:border-[transparent] text-error;
    }
    .cy-button-md {
        @apply text-base;
    }
    .cy-button-sm {
        @apply text-xs;
    }
    .cy-button-lg {
        @apply text-xl;
    }
}
